/* Colors: */
$color-primary: #4b9ce2;
$color-disabled: #ffe5e5;
$color-failed: #f77474;
$color-success: #46af32;
$color-button-bg: #f0f8ff;
$color-button-bg-dark: #e4f3ff;
$color-gray-dark-1: #3e3e3e;
$color-gray-dark-2: #525252;
$color-gray-dark-3: #b1b1b1;
$color-gray-dark-4: #555555;
$color-gray-light-1: #f2f2f2;
$color-gray-light-2: #eaeaea;
$color-gray-light-3: #e0e0e0;
$color-white: #ffffff;

// FONT VARIABLES
$font-primary: "Nunito", sans-serif;

//RESPONSIVE BREAKPOINTS
$bp-largest: 75em; //1200px
$bp-large: 62.5em; //1000px
$bp-medium: 50em; //800px
$bp-small: 37.5em; //600px

//SHADOWS
$shadow-product-box: 0 1rem 0.5rem rgba($color-gray-dark-1, 0.9%);
