@import "../../sass/variables";

.category {
  &__listItem {
    display: block;
    font-size: 1.8rem;
    font-weight: 700;
    padding-bottom: 1rem;
    box-shadow: 0 2px 0 transparent;
    border-bottom: 3px solid transparent;
    transition: all 0.2s;

    &_active {
      box-shadow: 0 2px 0 $color-primary;
      border-bottom: 3px solid transparent;

      @media only screen and (max-width: $bp-small) {
        // padding-bottom: 1.5rem;
        border-bottom: 3px solid $color-primary;
      }
    }

    @media only screen and (max-width: $bp-small) {
      margin-right: 3rem;
    }
  }

  &__link {
    &:link,
    &:visited {
      text-decoration: none;
      text-align: center;
      display: inline-block;
      color: $color-gray-dark-2;
    }
  }
}
