@import "../../sass/variables";

.productDetail {
  position: relative;
  margin-top: 2rem;
  padding: 1.5rem 1.5rem 1.5rem 1.5rem;
  background-color: $color-white;
  min-height: 80vh;
  display: flex;
  border-radius: 8px;
  justify-content: flex-start;

  @media only screen and (max-width: $bp-largest) {
    flex-direction: column;
    align-items: center;
  }

  @media only screen and (max-width: $bp-small) {
    padding: 0.6rem;
    margin-bottom: 10rem;
  }

  &__left {
    margin-right: 6rem;

    @media only screen and (max-width: $bp-desktop) {
      margin-right: 2rem;
    }
    @media only screen and (max-width: $bp-small) {
      margin-right: 0;
    }
  }

  &__imageWrapper {
    position: relative;
    border: 1px solid $color-gray-light-2;
    width: 70rem;
    height: 74rem;
    max-width: 70rem;
    max-height: 74rem;
    border-radius: 8px;

    @media only screen and (max-width: $bp-largest) {
      width: 40rem;
      height: 44rem;
      max-width: 40rem;
      max-height: 44rem;
    }
  }

  &__image {
    width: 100% !important;
    height: auto !important;
    object-fit: contain;
  }

  &__right {
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    @media only screen and (max-width: $bp-largest) {
      width: 100%;
    }

    @media only screen and (max-width: $bp-small) {
      padding-top: 1rem;
    }
  }

  &__title {
    font-size: 3.4rem;
    font-weight: 400;
    color: $color-gray-dark-4;
    margin-bottom: 2.5rem;

    @media only screen and (max-width: $bp-largest) {
      width: 100%;
    }

    @media only screen and (max-width: $bp-small) {
      font-size: 2.3rem;
      margin-bottom: 1.3rem;
      order: 1;
    }
  }

  &__specs {
    font-size: 1.5rem;
    color: $color-gray-dark-2;

    tr {
      td {
        font-weight: 400;
        &:first-of-type {
          font-weight: 700;
          padding-right: 2rem;
        }
      }

      &:not(:last-child) {
        span {
          display: block;
          padding-bottom: 2rem;

          @media only screen and (max-width: $bp-small) {
            margin-bottom: 1rem;
          }
        }
      }
    }
  }

  &__table {
    margin-bottom: 3rem;
    @media only screen and (max-width: $bp-small) {
      order: 3;
    }
  }

  &__price {
    font-size: 2.5rem;
    font-weight: 700;
    color: $color-gray-dark-2;
    margin-bottom: 3rem;
    @media only screen and (max-width: $bp-largest) {
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }

    @media only screen and (max-width: $bp-small) {
      order: 2;
      margin-bottom: 1.3rem;
    }
  }

  &__description {
    margin-top: 3rem;
    &_title {
      font-size: 1.8rem;
      font-weight: 700;
      color: $color-gray-dark-2;
      margin-bottom: 1rem;
    }
    &_text {
      color: $color-gray-dark-4;
      font-weight: 400;
      font-size: 1.5rem;
      line-height: 2.3rem;
    }

    @media only screen and (max-width: $bp-largest) {
      width: 100%;
    }

    @media only screen and (max-width: $bp-small) {
      order: 4;
      margin-top: 0;
    }
  }
}
