@import "../../../sass/variables";

.offer {
  margin-top: 2rem;
  padding: 1rem;
  border-radius: 8px;
  border: 1px solid $color-gray-light-1;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__imageWrapper {
    position: relative;
    width: 7.8rem;
    height: 8.4rem;
    margin-right: 1rem;
  }

  &__title {
    font-size: 1.8rem;
    font-weight: 400;
    color: $color-gray-dark-4;
    margin-bottom: 0.7rem;
  }

  &__info {
    margin-right: auto;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.4rem 0;

    &__given {
      background-color: $color-gray-light-1;
      padding: 0.8rem 1rem;
      border-radius: 8px;
    }

    &__title {
      color: $color-gray-dark-3;
      font-weight: 400;
    }

    &__price {
      font-weight: 700;
      color: $color-gray-dark-2;
    }
  }

  &__btn {
    border: none;
    background: none;
    outline: none;
    color: white;
    padding: 0.5rem 2rem;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 400;

    transition: all 0.2s;

    &:not(:last-child) {
      margin-right: 1rem;
    }

    &:hover {
      opacity: 0.8;
    }

    &__accept {
      background-color: $color-primary;
    }

    &__reject {
      background-color: $color-failed;
    }
  }

  &__status {
    font-size: 1.5rem;
    font-weight: 400;
    margin-right: 1rem;

    &__approved {
      color: $color-primary;
    }

    &__rejected {
      color: $color-failed;
    }

    &__sold {
      color: $color-success;
    }

    &__waiting {
      color: $color-tertiary;
    }
  }
}
