@import "../../sass/variables";

.form {
  background-color: $color-white;
  width: 57rem;
  height: 55.4rem;
  max-width: 57rem;
  max-height: 55.4rem;
  padding: 7rem 9rem;
  border-radius: 8px;
  box-shadow: 0px 3px 12px #1e36480a;
}
