@import "../../../sass/variables";

.buttonGroup {
  @media only screen and (max-width: $bp-small) {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 1rem;
    background-color: $color-white;
    display: flex;
    justify-content: space-around;
    padding: 1rem;
  }

  &__deactive {
    padding: 1rem 2.5rem;
    background-color: $color-invalid;
    color: $color-tertiary;
    font-size: 1.8rem;
    font-weight: 700;
    border-radius: 8px;
  }
}
